---
# Relaxed yamllint config (CI: lint:yamllint)
extends: default

rules:
  line-length: disable
  truthy:
    allowed-values: ["true", "false", "on", "yes", "no"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  document-start: disable
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  indentation:
    spaces: 2
    indent-sequences: consistent
  key-duplicates: enable
